
header{
    height: 300px;
    background-image: url(../img/header_2.jpg);
    -webkit-background-size: cover;
    background-size: cover;
}
header .link-pannel{
    margin-top: 20px;
}
header .link-pannel a{
    color: #fff;
    margin-right: 20px;
    text-decoration: underline;
}
header .bg-overlay{
    background-color: rgba(0, 40, 88, 0.6);
}
.menu-row{
    background-color: #fff;
    position: relative;
    z-index: 2;
}
header .site-title{
    color: #fff;
    position: relative;
    z-index: 1;
    padding: 50px;
}
header .site-title h1{
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 60px;
}
.entry-content .container{
    box-shadow: 5px 5px 15px 2px #c3c3c3
}
.entry-content img{
    margin-bottom: 20px;
}
.entry-content .desc h1, .entry-content .desc h2,.entry-content .desc h3,.entry-content .desc h4,.entry-content .desc h5 {
    font-size: 16px;
    font-family: inherit!important;
    text-transform: uppercase;
    font-weight: bold;
    color: #383838;
}
.entry-content .desc p, .entry-content .desc p >span, .entry-content .desc span, .entry-content .desc ul li
{
    font-size: 16px;
    font-weight: 400;
    color: #555555;
}
.entry-content .desc ul, .entry-content .desc ol{
    padding:10px 20px;
}
/*news page*/
.publish-info{
    padding-bottom: 5px;
    padding-left: 0 !important;
    margin-bottom: 10px !important;
    border-bottom: 1px solid #dedede;
}
.publish-info span{
    margin-right: 10px;
    color: #fd5308;
    margin-left: 0 !important;
}
.publish-info span a{
    color: #fd5308;
}
.publish-info span i{
    font-size: 16px;
    margin-right: 5px;
    color: #fd5308;
}
.publish-info .author{
    
}
/*teacher page*/
.about-teacher{
    padding: 20px !important;
    box-shadow: 5px 5px 15px 2px #c3c3c3;
}
/*ALL NEWS PAGE*/
.news-list-container{
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}
.new{
    margin-bottom: 40px;
}
.new .h-desc{
    font-size: 20px;
    padding-left: 15px;
}
.news .desc{
    padding: 0px 15px
}
.news article .btn-standart{
    margin-left: 15px;
}
.sidebar .h_col{
    color: #383838 !important;
}
.sidebar ul{
    padding: 10px 0px;
    list-style: none;
}
.sidebar ul li a{
    display: block;
    padding: 10px 0px;
    border-bottom: 1px solid #d4d4d4;
    text-transform: capitalize;
    color: #888888;
    text-decoration: none;
}
.sidebar ul li a:hover{
    color: #fd5308;
}