<?php require_once 'header_departement.php';?>
       <div class="site-title">
           <h1>Кафедра економики предприятия</h1>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus atque vitae molestiae et soluta aperiam modi quos, quod accusantium optio.</p>
           <a href="#">Связаться с нами</a>
       </div>
    </header>
  <section class="container about">
     <h2 class="h-block">О кафедре</h2>
      <div class="row">
          <div class="col-md-6 desc">
              <h3 class="h-desc">Кафедра економики предприятия</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae aperiam id et dolorem facere nemo? Consequuntur, corrupti sed voluptatibus dolorem inventore expedita illo culpa, quibusdam aliquid deleniti temporibus eveniet saepe asperiores molestias dignissimos praesentium. Minus iste alias reiciendis eum delectus laborum vero odio. Omnis alias suscipit quisquam distinctio necessitatibus voluptatibus excepturi consectetur dolore temporibus maiores hic neque voluptate consequatur amet, debitis nemo, dolor exercitationem similique enim laborum adipisci. Quasi ipsum, modi blanditiis neque, veritatis eos nulla nesciunt saepe id eaque velit aspernatur magni, et illum expedita iusto quia. Quibusdam, assumenda a esse quaerat, ipsum culpa quidem nisi fuga dignissimos fugit?</p>
              <a href="#" class="btn-standart">Подробнее</a>
          </div>
          <div class="col-md-6 img">
              <img src="<?php echo IMG_PATH;?>for-students2.jpg" alt="" class="img-responsive">
          </div>
      </div>
  </section>
  <section class="about advantages container">
            <div class="row">
            <div class="col-md-3 about-item">
                <div class="circle"><i class="fa fa-suitcase"></i></div>
                <div class="desc">
                    <h3 class="h-desc">Lorem ipsum dolor.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore delectus aperiam libero nesciunt vel minus reiciendis sed, soluta perspiciatis dignissimos fuga rem, voluptate eos porro id molestiae ratione officiis totam!</p>
                </div>
            </div>
            <div class="col-md-3 about-item">
                <div class="circle"><i class="fa fa-diamond"></i></div>
                <div class="desc">
                    <h3 class="h-desc">Lorem ipsum dolor.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore delectus aperiam libero nesciunt vel minus reiciendis sed, soluta perspiciatis dignissimos fuga rem, voluptate eos porro id molestiae ratione officiis totam!</p>
                </div>
            </div>
            <div class="col-md-3 about-item">
                <div class="circle"><i class="fa fa-book"></i></div>
                <div class="desc">
                    <h3 class="h-desc">Lorem ipsum dolor.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore delectus aperiam libero nesciunt vel minus reiciendis sed, soluta perspiciatis dignissimos fuga rem, voluptate eos porro id molestiae ratione officiis totam!</p>
                </div>
            </div>
            <div class="col-md-3 about-item">
                <div class="circle"><i class="fa fa-plug"></i></div>
                <div class="desc">
                    <h3 class="h-desc">Lorem ipsum dolor.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore delectus aperiam libero nesciunt vel minus reiciendis sed, soluta perspiciatis dignissimos fuga rem, voluptate eos porro id molestiae ratione officiis totam!</p>
                </div>
            </div>
        </div>
        <a href="#" class="btn-standart">Подробнее</a>
  </section>
  
  <section class="departement-news container">
     <h2 class="h-block">Новости кафедры</h2>
      <div class="row">
          <article class="col-md-3 col-sm-6">
           <div class="new-container">
                   <div class="img">
                       <img src="<?php echo IMG_PATH;?>for-students1.jpg" alt="" class="img-responsive">
                  </div>
                  <div class="desc">
                      <h2 class="h-desc">
                          Lorem ipsum dolor.
                      </h2>
                      <span class="date">22-02-2058</span>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum et alias nemo inventore quo repudiandae expedita sequi! Vel, officiis. Maxime fugiat omnis eveniet vel vero, obcaecati cum eum corporis accusantium.</p>
                  </div>
                  <a href="#" class="btn-standart">Подробнее</a>
             </div>
          </article>
          
             <article class="col-md-3 col-sm-6">
           <div class="new-container">
                   <div class="img">
                       <img src="<?php echo IMG_PATH;?>for-students2.jpg" alt="" class="img-responsive">
                  </div>
                  <div class="desc">
                      <h2 class="h-desc">
                          Lorem ipsum dolor.
                      </h2>
                      <span class="date">22-02-2058</span>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum et alias nemo inventore quo repudiandae expedita sequi! Vel, officiis. Maxime fugiat omnis eveniet vel vero, obcaecati cum eum corporis accusantium.</p>
                  </div>
                  <a href="#" class="btn-standart">Подробнее</a>
             </div>
          </article>
          
             <article class="col-md-3 col-sm-6">
           <div class="new-container">
                   <div class="img">
                       <img src="<?php echo IMG_PATH;?>for-students3.jpg" alt="" class="img-responsive">
                  </div>
                  <div class="desc">
                      <h2 class="h-desc">
                          Lorem ipsum dolor.
                      </h2>
                      <span class="date">22-02-2058</span>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum et alias nemo inventore quo repudiandae expedita sequi! Vel, officiis. Maxime fugiat omnis eveniet vel vero, obcaecati cum eum corporis accusantium.</p>
                  </div>
                  <a href="#" class="btn-standart">Подробнее</a>
             </div>
          </article>
          
             <article class="col-md-3 col-sm-6">
           <div class="new-container">
                   <div class="img">
                       <img src="<?php echo IMG_PATH;?>for-students1.jpg" alt="" class="img-responsive">
                  </div>
                  <div class="desc">
                      <h2 class="h-desc">
                          Lorem ipsum dolor.
                      </h2>
                      <span class="date">22-02-2058</span>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum et alias nemo inventore quo repudiandae expedita sequi! Vel, officiis. Maxime fugiat omnis eveniet vel vero, obcaecati cum eum corporis accusantium.</p>
                  </div>
                  <a href="#" class="btn-standart">Подробнее</a>
             </div>
          </article>
      </div>
  </section>
  <section class="parallax teachers">
      <h2 class="h-block">Преподаватели</h2>
     <div class="container">
           <div class="row" id='slider-teacher'>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="<?php echo IMG_PATH;?>teacher_solodulhin.jpg" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">Декан</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="<?php echo IMG_PATH;?>teacher2.png" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">Проффесор</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="<?php echo IMG_PATH;?>teacher3.png" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">доцент</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="<?php echo IMG_PATH;?>teacher4.png" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">доцент</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>               
          </div>
      </div>
  </section>
<?php require_once 'footer.php'?>