<?php require_once 'header_entry.php';?>
<body class="news">
    <header>
       <div class="menu-row row">
          <div class="logo col-sm-4"><img src="" alt=""></div>
          <ul class="menu col-sm-8">
               <li><a href="#">Главная</a></li>
               <li class="dropdown-item"><a href="#">обучение</a>
                   <i class="fa fa-angle-down"></i>
                    <ul class="dropdown-link">
                       <li><a href="#">Абитуриентам</a></li>
                       <li><a href="#">Студентам</a></li>
                   </ul>
                </li>
               <li class="dropdown-item"><a href="#">наука</a>
               </li>
               <li class="dropdown-item"><a href="#">Новости</a>
               <i class="fa fa-angle-down"></i>
               <ul class="dropdown-link dropdown-news">
                   <li class="col-md-4">
                       <h3 class="h-desc">Новости</h3>
                       <ul class="dropdown-link-inside">
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                       </ul>
                   </li>
                   <li class="col-md-4">
                       <h3 class="h-desc">Статьи</h3>
                        <ul class="dropdown-link-inside">
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                       </ul>
                   </li>
                   <li class="col-md-4">
                       <h3 class="h-desc">События</h3>
                        <ul class="dropdown-link-inside">
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                       </ul>
                   </li>
               </ul>
               </li>
               <li><a href="#">Преподаватели</a></li>
               <li><a href="#">Контакты</a></li>
           </ul>
       </div>
       <div class="site-title">
           <h1>Новости, события и статьи</h1>
           <div class="link-pannel">
               <a href="#">Главная<i class="fa fa-angle-right"></i></a>
               <span class="current-page">Новости</span>
           </div>
       </div>
</header>

<section class="container news-list-container">
    <div class="news-list col-sm-9">
        <article class="new">
            <img src="<?php echo IMG_PATH;?>for-students1.jpg" alt="" class="img-responsive">
         <div class="entry-content">
                   <h3 class="h-desc"><a href="#" class="h-link">New Title</a></h3>
                <div class="row publish-info">
                   <div class="col-xs-12">
                         <span class="author"><i class="fa fa-user"></i>Admin</span>
                        <span class="date"><i class="fa fa-calendar"></i>22-02-2058</span>
                        <span class="departement-from"><a href="#"><i class="fa fa-address-card"></i>Кафедра менеджмента</a></span>
                    </div>
                </div>
                <div class="desc">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis nulla architecto reiciendis quod laudantium maiores doloremque debitis doloribus aspernatur aperiam nostrum quos et, tempora repudiandae obcaecati eligendi cum officia aliquam!</p>
                </div>
            </div>
            <a href="#" class="btn-standart">Подробнее</a>
        </article>
         <article class="new">
            <img src="<?php echo IMG_PATH;?>for-students2.jpg" alt="" class="img-responsive">
         <div class="entry-content">
                   <h3 class="h-desc"><a href="#" class="h-link">New Title</a></h3>
                <div class="row publish-info">
                   <div class="col-xs-12">
                         <span class="author"><i class="fa fa-user"></i>Admin</span>
                        <span class="date"><i class="fa fa-calendar"></i>22-02-2058</span>
                         <span class="departement-from"><a href="#"><i class="fa fa-address-card"></i>Кафедра менеджмента</a></span>
                    </div>
                </div>
                <div class="desc">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis nulla architecto reiciendis quod laudantium maiores doloremque debitis doloribus aspernatur aperiam nostrum quos et, tempora repudiandae obcaecati eligendi cum officia aliquam!</p>
                </div>
            </div>
            <a href="#" class="btn-standart">Подробнее</a>
        </article>
         <article class="new">
            <img src="<?php echo IMG_PATH;?>for-students3.jpg" alt="" class="img-responsive">
         <div class="entry-content">
                   <h3 class="h-desc"><a href="#" class="h-link">New Title</a></h3>
                <div class="row publish-info">
                   <div class="col-xs-12">
                         <span class="author"><i class="fa fa-user"></i>Admin</span>
                        <span class="date"><i class="fa fa-calendar"></i>22-02-2058</span>
                         <span class="departement-from"><a href="#"><i class="fa fa-address-card"></i>Кафедра менеджмента</a></span>
                    </div>
                </div>
                <div class="desc">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis nulla architecto reiciendis quod laudantium maiores doloremque debitis doloribus aspernatur aperiam nostrum quos et, tempora repudiandae obcaecati eligendi cum officia aliquam!</p>
                </div>
            </div>
            <a href="#" class="btn-standart">Подробнее</a>
        </article>
         <article class="new">
            <img src="<?php echo IMG_PATH;?>for-students1.jpg" alt="" class="img-responsive">
         <div class="entry-content">
                   <h3 class="h-desc"><a href="#" class="h-link">New Title</a></h3>
                <div class="row publish-info">
                   <div class="col-xs-12">
                         <span class="author"><i class="fa fa-user"></i>Admin</span>
                        <span class="date"><i class="fa fa-calendar"></i>22-02-2058</span>
                         <span class="departement-from"><a href="#"><i class="fa fa-address-card"></i>Кафедра менеджмента</a></span>
                    </div>
                </div>
                <div class="desc">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis nulla architecto reiciendis quod laudantium maiores doloremque debitis doloribus aspernatur aperiam nostrum quos et, tempora repudiandae obcaecati eligendi cum officia aliquam!</p>
                </div>
            </div>
            <a href="#" class="btn-standart">Подробнее</a>
        </article>
    </div>
    <div class="sidebar col-sm-3">
        <article class="sidebar-block">
            <h3 class="h_col">Последние новости</h3>
            <ul>
                <li><a href="#">news Lorem.</a></li>
                <li><a href="#">Lorem ipsum dolor.</a></li>
                <li><a href="#">Lorem ipsum.</a></li>
            </ul>
        </article>
        <article class="sidebar-block">
            <h3 class="h_col">События</h3>
            <ul>
                <li><a href="#">news Lorem.</a></li>
                <li><a href="#">Lorem ipsum.</a></li>
            </ul>
        </article>
         <article class="sidebar-block">
            <h3 class="h_col">Статьи</h3>
            <ul>
                <li><a href="#">news Lorem.</a></li>
                <li><a href="#">Lorem ipsum.</a></li>
            </ul>
        </article>
    </div>
</section>                   
             
<?php require_once 'footer_entry.php';?>