<?php require_once 'header_entry.php';?>
<body>
    <header>
       <div class="menu-row row">
          <div class="logo col-sm-4"><img src="" alt=""></div>
           <ul class="menu col-sm-8">
               <li><a href="#">section1</a></li>
               <li><a href="#">section2</a></li>
               <li><a href="#">section3</a></li>
               <li><a href="#">section4</a></li>
               <li><a href="#">section5</a></li>
               <li><a href="#">section6</a></li>
               <li><a href="#">section7</a></li>
               <li><a href="#">section8</a></li>
           </ul>
       </div>
       <div class="site-title">
            <h1>Lorem ipsum dolor sit.</h1>
           <div class="link-pannel">
               <a href="#">Главная</a>
               <a href="#">Новаости</a>
               <span class="current-page"> Новость</span>
           </div>
       </div>
    </header>
    <section class="entry-content">
        <div class="container">
           
           <div class="row">
                 <div class="col-md-8">
                     <img src="img/for-students3.jpg" alt="" class="img-responsive">
                 </div>
            </div>
            <div class="row publish-info">
               <div class="col-xs-12">
                     <span class="author"><i class="fa fa-user"></i>Admin</span>
                    <span class="date"><i class="fa fa-calendar"></i>22-02-2058</span>
                </div>
            </div>
            <div class="desc col-xs-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ea inventore quod aliquam possimus. Fugiat nostrum odio molestias iure quia itaque nobis cupiditate perspiciatis commodi nam soluta dignissimos eius, facere doloribus dolor facilis voluptatum. Eius earum blanditiis, tempora culpa mollitia similique voluptates nemo, ab laudantium iste debitis, eos! Nostrum fugit exercitationem animi, nulla quia modi est atque impedit soluta laborum reiciendis eligendi maiores fuga, eaque libero necessitatibus facere laudantium. Magnam architecto explicabo, porro culpa magni quo nulla adipisci temporibus assumenda ut sunt id numquam totam tenetur repudiandae delectus, molestiae dicta possimus distinctio, dolor! Repellendus, laborum architecto. Sunt nihil doloribus cum.</p>
                <h1>holly</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni facilis nobis, cumque ab laboriosam animi, adipisci cum perspiciatis iste itaque rem, odio velit totam perferendis, architecto voluptatum harum! Ad fuga quia provident a beatae velit, nobis rem quidem voluptas earum.</p>
                <ul>
                    <li><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At animi deleniti inventore ut, aspernatur cum asperiores laborum dolorum temporibus id, odit aliquam nesciunt provident molestiae voluptatum a maiores iusto impedit.</span></li>
                </ul>
                <ol>
                    <li>
                        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In molestias omnis fuga, blanditiis veritatis facilis dolorem consequuntur debitis! Amet quos quo hic, inventore id expedita qui assumenda ut reiciendis sequi!</span></p>
                    </li>
                </ol>
            </div>
        </div>
    </section>
<?php require_once 'footer_entry.php';?>