<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    
    <link rel="stylesheet" href="css/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/entry-pages.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="slick-1.6.0/slick/slick-theme.css">
    <link rel="stylesheet" href="slick-1.6.0/slick/slick.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:300,400,500,700&amp;subset=cyrillic" rel="stylesheet">
</head>
<body class="news">
    <header>
       <div class="menu-row row">
          <div class="logo col-sm-4"><img src="" alt=""></div>
          <ul class="menu col-sm-8">
               <li><a href="#">Главная</a></li>
               <li class="dropdown-item"><a href="#">обучение</a>
                   <i class="fa fa-angle-down"></i>
                    <ul class="dropdown-link">
                       <li><a href="#">Абитуриентам</a></li>
                       <li><a href="#">Студентам</a></li>
                   </ul>
                </li>
               <li class="dropdown-item"><a href="#">наука</a>
               </li>
               <li class="dropdown-item"><a href="#">Новости</a>
               <i class="fa fa-angle-down"></i>
               <ul class="dropdown-link dropdown-news">
                   <li class="col-md-4">
                       <h3 class="h-desc">Новости</h3>
                       <ul class="dropdown-link-inside">
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                       </ul>
                   </li>
                   <li class="col-md-4">
                       <h3 class="h-desc">Статьи</h3>
                        <ul class="dropdown-link-inside">
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                       </ul>
                   </li>
                   <li class="col-md-4">
                       <h3 class="h-desc">События</h3>
                        <ul class="dropdown-link-inside">
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                       </ul>
                   </li>
               </ul>
               </li>
               <li><a href="#">Преподаватели</a></li>
               <li><a href="#">Контакты</a></li>
           </ul>
       </div>
       <div class="site-title">
           <h1>Преподаватели</h1>
           <div class="link-pannel">
               <a href="#">Главная<i class="fa fa-angle-right"></i></a>
               <span class="current-page">Преподаватели</span>
           </div>
       </div>
</header>

<section class="container teachers">
    <div class="row nav-sort">
        <ul>
            <li><a href="#">Все</a></li>
            <li><a href="#">ЕП</a></li>
            <li><a href="#">ФБСС</a></li>
            <li><a href="#">МОУП</a></li>
            <li><a href="#">ОА</a></li>
            <li><a href="#">ЕИТ</a></li>
            <li><a href="#">ФСН</a></li>
        </ul>
    </div>
         <div class="teachers-container">
           <div class="row" id='slider-teacher'>
                <div class="col-md-3 col-sm-4 teacher" data-id="">
                    <img src="img/teacher_solodulhin.jpg" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">Декан</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher2.png" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">Проффесор</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher3.png" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">доцент</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher4.png" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">доцент</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>               
          </div>
                     <div class="row" id='slider-teacher'>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher_solodulhin.jpg" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">Декан</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher2.png" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">Проффесор</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher3.png" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">доцент</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher4.png" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">доцент</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>               
          </div>
                     <div class="row" id='slider-teacher'>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher_solodulhin.jpg" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">Декан</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher2.png" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">Проффесор</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher3.png" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">доцент</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher4.png" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">доцент</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>               
          </div>
                     <div class="row" id='slider-teacher'>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher_solodulhin.jpg" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">Декан</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher2.png" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">Проффесор</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher3.png" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">доцент</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher4.png" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">доцент</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>               
          </div>
                     <div class="row" id='slider-teacher'>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher_solodulhin.jpg" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">Декан</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher2.png" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">Проффесор</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher3.png" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">доцент</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher4.png" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">доцент</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>               
          </div>
    </div>
</section>

<footer>
        
        <div class="row footer-menu">
          <div class="container">
                  <div class="col-md-3 col-sm-6 footer-item">
                    <h4 class="h_col">Ближайшие события</h4>
                    <ul>
                        <li><a href="#">Lorem ipsum dolor.</a></li>
                        <li><a href="#">Lorem ipsum dolor.</a></li>
                        <li><a href="#">Lorem ipsum dolor.</a></li>
                        <li><a href="#">Lorem ipsum dolor.</a></li>
                        <li><a href="#">Lorem ipsum dolor.</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 footer-item">
                    <h4 class="h_col">Страницы кафедр</h4>
                    <ul>
                        <li><a href="#">Lorem ipsum dolor.</a></li>
                        <li><a href="#">Lorem ipsum dolor.</a></li>
                        <li><a href="#">Lorem ipsum dolor.</a></li>
                        <li><a href="#">Lorem ipsum dolor.</a></li>
                        <li><a href="#">Lorem ipsum dolor.</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 footer-item">
                    <h4 class="h_col">Для студентов</h4>
                    <ul>
                        <li><a href="#">Lorem ipsum dolor.</a></li>
                        <li><a href="#">Lorem ipsum dolor.</a></li>
                        <li><a href="#">Lorem ipsum dolor.</a></li>
                        <li><a href="#">Lorem ipsum dolor.</a></li>
                        <li><a href="#">Lorem ipsum dolor.</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 footer-item">
                    <h4 class="h_col">для абитуриентов</h4>
                    <ul>
                        <li><a href="#">Lorem ipsum dolor.</a></li>
                        <li><a href="#">Lorem ipsum dolor.</a></li>
                        <li><a href="#">Lorem ipsum dolor.</a></li>
                        <li><a href="#">Lorem ipsum dolor.</a></li>
                        <li><a href="#">Lorem ipsum dolor.</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="col-sm-4">
                    
                </div>
                <div class="col-sm-4">&copy; Copyright 2017</div>
                <div class="col-sm-4"></div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="slick-1.6.0/slick/slick.js"></script>
    <script src="js/js.js"></script>
</body>
</html>