<?php require_once 'header_entry.php';?>
<body>
    <header>
       <div class="menu-row row">
          <div class="logo col-sm-4"><img src="" alt=""></div>
          <ul class="menu col-sm-8">
               <li><a href="#">Главная</a></li>
               <li class="dropdown-item"><a href="#">обучение</a>
                   <i class="fa fa-angle-down"></i>
                    <ul class="dropdown-link">
                       <li><a href="#">Абитуриентам</a></li>
                       <li><a href="#">Студентам</a></li>
                   </ul>
                </li>
               <li class="dropdown-item"><a href="#">наука</a>
               </li>
               <li class="dropdown-item"><a href="#">Новости</a>
               <i class="fa fa-angle-down"></i>
               <ul class="dropdown-link dropdown-news">
                   <li class="col-md-4">
                       <h3 class="h-desc">Новости</h3>
                       <ul class="dropdown-link-inside">
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                       </ul>
                   </li>
                   <li class="col-md-4">
                       <h3 class="h-desc">Статьи</h3>
                        <ul class="dropdown-link-inside">
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                       </ul>
                   </li>
                   <li class="col-md-4">
                       <h3 class="h-desc">События</h3>
                        <ul class="dropdown-link-inside">
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                           <li><a href="#">Lorem ipsum dolor.</a></li>
                       </ul>
                   </li>
               </ul>
               </li>
               <li><a href="#">Преподаватели</a></li>
               <li><a href="#">Контакты</a></li>
           </ul>
       </div>
       <div class="site-title">
           <h1>Преподаватели</h1>
           <div class="link-pannel">
               <a href="#">Главная<i class="fa fa-angle-right"></i></a>
               <span class="current-page">Преподаватели</span>
           </div>
       </div>
</header>

<section class="container teachers">
    <div class="row nav-sort">
        <ul>
            <li><a href="#">Все</a></li>
            <li><a href="#">ЕП</a></li>
            <li><a href="#">ФБСС</a></li>
            <li><a href="#">МОУП</a></li>
            <li><a href="#">ОА</a></li>
            <li><a href="#">ЕИТ</a></li>
            <li><a href="#">ФСН</a></li>
        </ul>
    </div>
         <div class="teachers-container">
           <div class="row" id='slider-teacher'>
                <div class="col-md-3 col-sm-4 teacher" data-id="">
                    <img src="img/teacher_solodulhin.jpg" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">Декан</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher2.png" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">Проффесор</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher3.png" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">доцент</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher4.png" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">доцент</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>               
          </div>
                     <div class="row" id='slider-teacher'>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher_solodulhin.jpg" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">Декан</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher2.png" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">Проффесор</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher3.png" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">доцент</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher4.png" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">доцент</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>               
          </div>
                     <div class="row" id='slider-teacher'>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher_solodulhin.jpg" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">Декан</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher2.png" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">Проффесор</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher3.png" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">доцент</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher4.png" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">доцент</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>               
          </div>
                     <div class="row" id='slider-teacher'>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher_solodulhin.jpg" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">Декан</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher2.png" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">Проффесор</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher3.png" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">доцент</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher4.png" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">доцент</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>               
          </div>
                     <div class="row" id='slider-teacher'>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher_solodulhin.jpg" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">Декан</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher2.png" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">Проффесор</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher3.png" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">доцент</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 teacher">
                    <img src="img/teacher4.png" alt="" class="img-responsive">
                    <div class="teacher-info">
                        <h3 class="h-desc">доцент</h3>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </div>               
          </div>
    </div>
</section>

<?php require_once 'footer_entry.php';?>