<?php require_once 'header_entry.php';?>
<body>
    <header>
       <div class="menu-row row">
          <div class="logo col-sm-4"><img src="" alt=""></div>
           <ul class="menu col-sm-8">
               <li><a href="#">section1</a></li>
               <li><a href="#">section2</a></li>
               <li><a href="#">section3</a></li>
               <li><a href="#">section4</a></li>
               <li><a href="#">section5</a></li>
               <li><a href="#">section6</a></li>
               <li><a href="#">section7</a></li>
               <li><a href="#">section8</a></li>
           </ul>
       </div>
       <div class="site-title">
        <h1>Lorem ipsum dolor sit.</h1>
           <div class="link-pannel">
               <a href="#">Главная<i class="fa fa-angle-right"></i></a>
               <a href="#">Преподаватели<i class="fa fa-angle-right"></i></a>
               <span class="current-page">Препод</span>
           </div>
       </div>
    </header>
    <section class="entry-content">
       <div class="row">
           <div class="col-sm-offset-4 col-sm-4 teacher">
               <img src="img/teacher_solodulhin.jpg" alt="" class="img-responsive">
               <div class="teacher-info">
                        <h3 class="h-desc">Солодухин Станислав</h3>
                </div>
           </div>
       </div>
    </section>
      <section class="about advantages container">
            <div class="row">
            <div class="col-md-3 about-item">
                <div class="circle"><i class="fa fa-suitcase"></i></div>
                <div class="desc">
                    <h3 class="h-desc">Должность</h3>
                    <p>Ректор</p>
                </div>
            </div>
            <div class="col-md-3 about-item">
                <div class="circle"><i class="fa fa-diamond"></i></div>
                <div class="desc">
                    <h3 class="h-desc">Ученая степень</h3>
                    <p>професор, доктор економичнеских наук </p>
                </div>
            </div>
            <div class="col-md-3 about-item">
                <div class="circle"><i class="fa fa-book"></i></div>
                <div class="desc">
                    <h3 class="h-desc">Специализация</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, ratione.</p>
                </div>
            </div>
            <div class="col-md-3 about-item">
                <div class="circle"><i class="fa fa-phone"></i></div>
                <div class="desc">
                    <h3 class="h-desc">Контакты</h3>
                    <p><a href="callto:+38 (050) 56 48 796" class="h-link">+38 (050) 56 48 796</a></p>
                </div>
            </div>
        </div>
  </section>
  <section class="about-teacher entry-content container">
      <h2 class="h-desc">О преподавателе</h2>
    <div class="desc">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum consequuntur, incidunt delectus tenetur nostrum rem! Delectus quis molestiae sapiente aliquam libero hic eum ad ipsam nisi quidem laborum a nostrum incidunt expedita consequuntur, odit corporis ex architecto tenetur, aperiam illum deleniti. Explicabo vitae eum vero, neque repudiandae maxime consequuntur officiis odit non cupiditate cum eligendi, iste vel saepe repellendus asperiores doloremque in. Libero, excepturi commodi animi perferendis quae maiores sunt. Voluptatem iste necessitatibus quisquam praesentium qui laudantium doloribus est? Fugiat eum voluptas pariatur, qui placeat dolorem nam, atque doloribus est odio magnam mollitia voluptates. Alias laudantium dicta eum vero placeat.</p>
        
        </section>
      </div>
<?php require_once 'footer_entry.php';?>